<?xml version="1.0" encoding="utf-8"?>
<manifest package="it.techies.preschoolhindi"
          xmlns:android="http://schemas.android.com/apk/res/android">



    <!-- if you want to load images from the internet -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- if you want to load images from a file OR from the internet -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="sensorLandscape"
        android:supportsRtl="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:alwaysRetainTaskState="true"
        android:theme="@style/Theme.PreSchoolHindi">
        <service android:name=".services.SoundService"/>

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:alwaysRetainTaskState="true"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme.BrandedLaunch"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.GameLevels"
            android:label="@string/app_name"
            android:alwaysRetainTaskState="true"
            android:parentActivityName=".ui.MainActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme.FullScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="it.techies.preschoolhindi.ui.MainActivity"/>
        </activity>
        <activity
            android:name=".ui.Level1"
            android:label="@string/app_name"
            android:configChanges="orientation"
            android:alwaysRetainTaskState="true"
            android:parentActivityName=".ui.MainActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme.FullScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="it.techies.preschoolhindi.ui.GameLevels"/>
        </activity>
        <activity
            android:name=".ui.Level2"
            android:label="@string/app_name"
            android:configChanges="orientation"
            android:alwaysRetainTaskState="true"
            android:parentActivityName=".ui.MainActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme.FullScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="it.techies.preschoolhindi.ui.GameLevels"/>
        </activity>
        <activity
            android:name=".ui.Level3"
            android:label="@string/app_name"
            android:configChanges="orientation"
            android:alwaysRetainTaskState="true"
            android:parentActivityName=".ui.MainActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme.FullScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="it.techies.preschoolhindi.ui.GameLevels"/>
        </activity>
        <activity
            android:name=".ui.Level4"
            android:label="@string/app_name"
            android:configChanges="orientation"
            android:alwaysRetainTaskState="true"
            android:parentActivityName=".ui.MainActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme.FullScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="it.techies.preschoolhindi.ui.GameLevels"/>
        </activity>
        
        <activity android:name=".ui.InstructionsScreens"
                  android:label="@string/app_name"
                  android:alwaysRetainTaskState="true"
                  android:screenOrientation="sensorLandscape"
                  android:theme="@style/AppTheme.FullScreen">
        </activity>

        
    </application>

</manifest>